#settings-column {
    width: 250px;

    display: flex;
    flex-direction: column;

    height: 100%;

    background-color: $brand-dark;
    border-left: 1px solid $brand-light;

    color: #fff;
}

.settings-title {
    margin: 0 0 20px 0;
}

// Tag Section
#tag-container {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

// Tag Create
#tag-create-form {
    display: flex;
    border-radius: 5px;
    border: 2px solid $brand-darkest;

    &:focus-within {
        box-shadow: 0 0 0 3px rgba($brand-blue, 0.2);
    }

    input {
        width: calc(100% - 40px);
        background: none;
        border: none;
        padding: 5px 10px;
        color: #fff;
    }

    button {
        margin: 5px;
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        padding: 0;
        color: #fff;
        border-radius: 15px;
        &:hover {
            cursor: pointer;
            background-color: $brand-blue;
        }
    }
}

// Tree View
.tree-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tree-delete {
    margin: 5px;
    height: 30px;
    min-width: 30px;
    background: none;
    border: none;
    padding: 0;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
    border-radius: 15px;

    i {
        margin-bottom: 4px;
    }

    &:hover {
        background-color: $brand-red;
        color: #fff;
    }
}

// Tags
#tag-list {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: scroll;
    .tree-delete {
        display: none;
    }
    &:hover {
        .tree-delete {
            display: initial;
        }
    }
}

#tag-header {
    padding: 20px;  
}

.tag-meta {
    display: flex;
    align-items: center;
    // flex-grow: 1;
    // width: 100px;
    cursor: pointer;
}

.tag-name {
    font-size: 14px;

    margin-top: 2px;
    color: #fff;
    background: none;
    border: none;

    width: calc(100% - 25px);

    &:focus {
        margin-top: 4px;
        padding-bottom: 2px;
        border-bottom: 2px solid $brand-blue;
    }
}

.tag-list-item-inner {
    display: flex;
    justify-content: space-around;
    height: 40px;
    border: 1px solid $brand-dark;

    &.selected {
        background-color: $brand-darkest;
        border-color: $brand-darkest;
    }

    &:hover {
        border-color: $brand-darkest;
    }
}

.tag-dropdown-button {
    min-width: 40px;
    background: none;
    border: none;
    padding: 0;
    color: #fff;
    cursor: pointer;

    &.active {
        i {
            transform: rotate(90deg);
        }
    }
}

// Selections
.selection-list {
    margin-left: 60px;
    display: none;

    &.active {
        display: block;
    }
}

.selection-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.selection-meta {
    font-size: 14px;
}

// Export Section
#export-container {
    padding: 20px;
    border-top: 1px solid $brand-light;
}

#download-button {
    width: 100%;
    position: relative;

    i {
        position: absolute;
        top: 12px;
        left: 12px;
    }
}