#settings-column {
    width: 250px;

    background-color: $brand-dark;
    border-left: 1px solid $brand-light;

    color: #fff;
}

// Momento
#momento-container {
    padding: 20px;
    border-bottom: 1px solid $brand-light;
}

.momento-button {
    height: 40px;
    width: calc(50% - 5px);

    background-color: $brand-darkest;
    padding: 0;
    border: none;
    border-radius: 5px;

    color: #fff;

    cursor: pointer;
    &:first-of-type {
        margin-right: 10px;
    }
}

// Tag Create
#tag-create-form {
    display: flex;
    border-radius: 5px;
    border: 2px solid $brand-darkest;

    &:focus-within {
        box-shadow: 0 0 0 3px rgba($brand-blue, 0.2);
    }

    input {
        width: calc(100% - 40px);
        background: none;
        border: none;
        padding: 5px 10px;
        color: #fff;
    }

    button {
        margin: 5px;
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        padding: 0;
        color: #fff;
        border-radius: 15px;
        &:hover {
            cursor: pointer;
            background-color: $brand-blue;
        }
    }
}

// Tree View
.tree-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tree-delete {
    margin: 5px;
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    padding: 0;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
    border-radius: 15px;

    &:hover {
        background-color: $brand-red;
        color: #fff;
    }
}

// Tags
#tag-list {
    .tree-delete {
        display: none;
    }
    &:hover {
        .tree-delete {
            display: initial;
        }
    }
}

#tag-header {
    padding: 20px;
    h2 {
        margin: 0 0 20px 0;
    }    
}

.tag-meta {
    display: flex;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
}

.tag-name {
    font-size: 14px;
}

.tag-list-item-inner {
    display: flex;
    justify-content: space-around;
    height: 40px;
    border: 1px solid $brand-dark;

    &.selected {
        background-color: $brand-darkest;
        border-color: $brand-darkest;
    }

    &:hover {
        border-color: $brand-darkest;
    }
}

.tag-dropdown-button {
    width: 40px;
    background: none;
    border: none;
    padding: 0;
    color: #fff;
    cursor: pointer;

    &.active {
        i {
            transform: rotate(90deg);
        }
    }
}

// Selections
.selection-list {
    margin-left: 60px;
    display: none;

    &.active {
        display: block;
    }
}

.selection-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.selection-meta {
    font-size: 14px;
}