#carousel {
  height: 110px;
  width: 100%;

  display: flex;
  align-items: center;

  background-color: $brand-dark;
  border-bottom: 1px solid $brand-light;
}

.carousel-button-wrap {
  height: 100%;
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button {
  height: 40px;
  width: 40px;

  background-color: $brand-blue;
  border-radius: 20px;
  border: none;
  color: #fff;
}

#carousel-main {
  height: 100%;
  width: calc(100% - 160px);
  padding: 10px 0;

  display: flex;
  flex-direction: row;
}

.carousel-image-button {
  position: relative;
  height: 100%;
  width: 160px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
  }

  &.selected {
    .image-overlay {
      border: 2px solid #fff;
    }
  }
}