#carousel {
  height: 110px;
  width: 100%;

  display: flex;
  align-items: center;

  background-color: $brand-darker;
}

.carousel-button-wrap {
  height: 100%;
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button {
  height: 40px;
  width: 40px;

  background-color: $brand-primary;
  border-radius: 20px;
  border: none;
  color: #fff;
}

#carousel-inner {
  height: calc(100% - 20px);
  width: calc(100% - 160px);

  display: flex;
  flex-direction: row;
}

.carousel-image {
  height: 100%;
  width: 160px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;

  // todo - images are stretching, I need to go over all this CSS tonight.
  img {
    height: 100%;
    width: 100%;
  }

  &:active {
    border: 2px solid #fff; // todo - active image functionality
  }
}