#carousel {
  height: 110px;
  width: 100%;

  display: flex;
  align-items: center;

  background-color: $brand-dark;
  border-bottom: 1px solid $brand-light;

  overflow: hidden;
}

.carousel-button-wrap {
  position: relative;
  z-index: 10;

  height: 100%;
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-left {
  background: linear-gradient(to left, rgba($brand-dark,0) 10%, $brand-dark)
}

.carousel-right {
  background: linear-gradient(to right, rgba($brand-dark,0) 10%, $brand-dark)
}

.carousel-button {
  height: 40px;
  width: 40px;
  padding: 0;
  
  background-color: $brand-blue;
  border-radius: 20px;
  border: none;
  color: #fff;

  cursor: pointer;

  &:hover {
    background-color: $brand-blue-darker;
  }
}

#carousel-main {
  position: relative;

  height: 100%;
  width: calc(100% - 160px);

  display: flex;
  flex-direction: row;
}

#carousel-main-inner {
  position: absolute;
  left: 0;

  transition: left 0.10s ease-in;

  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 10px 0;
}

.carousel-image-button {
  position: relative;
  height: 100%;
  width: 160px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
  }

  .image-active-tags {
    position: absolute;
    display: flex;
    left: 6px;
    bottom: 6px;
  }

  &.selected {
    .image-overlay {
      border: 2px solid #fff;
    }

    .image-active-tags {
      left: 4px;
      bottom: 4px;
    }
  }
}