@import "colour.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.tag-id {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 1px;
    margin-right: 10px;
    font-size: 11px;
    background-color: $brand-blue;
    font-weight: 600;
    border-radius: 2px;
    height: 16px;
    width: 16px;
}

// Reset - todo - improve
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

